.App {
  text-align: center;
}

.App-logo {
  height: 20vmin;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.Todo-App {
  padding-top: 20px;
  display: inline-block;
  text-align: left;
}

input {
  font-size: 20px;
}

ul {
  padding: 0px;
}

li {
  list-style-type: none;
}

li span.delete-item {
  visibility: hidden;
}

li span.delete-item button {
  color: red;
}

li:hover span.delete-item {
  visibility: visible;
}

.error {
  color: red;
}

.success {
  color: green;
}

.footer a {
  padding-left: 2px;
  padding-right: 2px;
}

.footer a.active {
  font-weight: bold;
}